# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
env/

# Outputs
/data/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS
.DS_Store
